body{
	margin-top: 50px;
}

#container {
    display:flex;
    min-height: 100vh;
}

#container * {
    box-sizing: border-box;
}

.bundles-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    align-content:flex-start;
    justify-content: space-around;
}

.bundles-wrapper > .bundle {
    flex: 1 1 16em;
    max-width: 350px;
}

@media screen and (min-width: 992px) {
    .bundles-wrapper > .bundle {
        flex-basis: 25%;
    }
}

.bundle > img {
    width: 350px;
    height:200px;
}

#container ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-image: url('../img/bullet.gif');
}

.link-spanner{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
}

/** style **/

.bundles-wrapper {
    padding: .5em;
    background: #fff;
    width: 100%;
}

.bundles-wrapper > .bundle {
    margin: .5em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.bundles-wrapper > .games {
    background:/*#bdc3c7*/white;
}

.bundles-wrapper > .books {
    background:/*#2ecc71*/white;
}

.bundle > div:not(.corner-ribbon) {
    padding: 0 1em;
}

[id="filters-sidebar"] {
    width: 20em;
    padding: .5em;
}

.border-div {
    border-right: solid 1px;
    border-color: #ccc;
    min-height:100vh;
}

.bundle > div:not(.corner-ribbon).bundle-content {
    padding-bottom: 1em;
}

.bundle > .bundle-footer {
    border-top: 1px solid #999;
}

.bundle > .bundle-footer> p {
	margin-top: 14px;
	margin-bottom: 14px;
}

#container {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

/* The ribbons */

.corner-ribbon{
    width: 150px;
    background: #e43;
    position: absolute;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    /*transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);*/
}

/* Custom styles */

.corner-ribbon.sticky{
    position: fixed;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
    top: 10px;
    left: -40px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
    top: 10px;
    right: -40px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
    top: auto;
    bottom: 10px;
    left: -40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
    top: auto;
    right: -40px;
    bottom: 10px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#container ul > li {
    margin-bottom: 0.5em;
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #3498db;}
.corner-ribbon.green{background: #2ecc71;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e74c3c;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}
