@font-face {
	font-family: "Title Pixel";
	src: url('font/karma future.ttf') format("truetype");
}

body{

	margin-top: 10%;

}

.title{
    font-family: "Title Pixel", Verdana, Arial, sans-serif;
    color: #ffcc00;
}

/* navbar */
.navbar-default {
    background-color: #003366;
    border-color: #000033;
}

/* title */
.navbar-default .navbar-brand {
    color: #ffcc00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffcc33;
}
.navbar-default .navbar-text {
    color: #ffcc00;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffcc00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffcc33;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #003366;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffcc00;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffcc33;
    background-color: #000033;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #000033;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcc33;
    background-color: #000033;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffcc33;
    background-color: #000033;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffcc33;
    background-color: #000033;
}
.navbar-default .navbar-toggle {
    border-color: #000033;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000033;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffcc00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffcc00;
}
.navbar-default .navbar-link {
    color: #ffcc00;
}
.navbar-default .navbar-link:hover {
    color: #ffcc33;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffcc00;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffcc33;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffcc33;
        background-color: #000033;
    }
}

.containerAll{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 5%;
}

.containerAllSub{
	display :flex;
	flex-direction: row;
	align-items:stretch;

}

.containerAllArticle{
	margin:25%;
	margin-right: 10%;
	display :flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;


}

.containerArticle{
	background: #009AFFFF;
	
	border: 1px solid #555;
	margin-bottom:25px;
	height: 50%;


	display: flex;
	flex-flow: row wrap;
	padding: 25px;
	outline-offset: 25px;

}

.article{
	background: white;
	border: 1px solid #555;
}

header,article,aside,img{
	flex: 1 100%;

	margin:5px;
}



.aside1{
	order: 1;
}
.aside2{
	order: 2;
}

aside{
	flex:1 auto;
}

header{
	order :1;
	text-align: center;
}

img{
	order :2;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

article{
	flex:2 0;
	order:3;
	text-align: center;
	padding-top: 25px;
}

.scroller{
	text-align: center;
	align-self: center;
	margin-bottom: 25px;
}

.usefulLink{
	text-align: center;
	align-self: flex-start;
	background: #009AFFFF;
	border: 1px solid #555;
	height:500px;
	width:400px;

}

footer{
	background: #009AFFFF;
}