.container{
	background: aqua;
	margin:10px;
	border: 1px solid #555;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.article{
	background: white;
	border: 1px solid #555;
}